<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XNNPBKM8PX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XNNPBKM8PX');
</script>

<title>{{ page.title }}</title>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/styles.css">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@400;500;600;700&family=Dongle:wght@300;400;700&family=Gugi&family=Karla:wght@200;300;400;500;600;700;800&family=Katibeh&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XNNPBKM8PX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XNNPBKM8PX');
</script>


<!-- Naver Search Adviser -->
<meta name="naver-site-verification" content="13447803628be075605281680bfa7ae08734c2b3" />


<!-- Math -->
{% if page.use_math %}
	{% include mathjax_support.html %}
{% endif %}

<meta property="og:image" content="https://github.com/radic2682/radic2682.github.io/assets/11177959/c461f83d-b4bc-4998-badd-cfc7d5945817">
<meta property="og:title" content="traumhaft">
<meta property="og:description" content="Sun Hong의 개인 블로그 - 방가방가">
