
@mixin new_project_box {
    #project_box_wrapper {
        display: flex;
    
        flex-direction: row;
        flex-wrap: wrap;
    
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
    
        width: 100%;
    
        #new_project_box {
            margin: 0;
            padding: 18px;
            margin-bottom: 15px;
        
            border-radius: 10px;
            
            width: 25%;
            min-width: 320px;
            max-width: 350px;

            min-height: 420px;
        
            transition: background-color, transform 0.2s ease-in-out;
    
            &:hover {
                background-color: #f0f2f7;
                transform: scale(1.01);
            }
    
            #imgBox{
                margin-bottom: 20px;
                display: flex;
                align-items: end;
                justify-content: center;

                border-radius: 5px;
                
                background-color: transparent;
            
                width: 100%;
                min-height: 225px;
    
                img{
                    padding: 10px;
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                
                    border-radius: 5px;
                    display: block;
                    
                    // border: 2px solid $mainColor;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }
            }
            #box_category{
                width: fit-content;
    
                padding: 4px 10px;
                margin: 0px;
                margin-bottom: 5px;
    
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                color: #1B263B;
                font-size: 0.6rem;
    
                text-align: center;

                border-radius: 15px;
            }
            #box_title{
                @include font_size_S3-5;

                padding: 0;
                margin: 0px;
                margin-bottom: 0;
            
                font-weight: 700;
                font-family: 'Poppins', sans-serif;
                color: #1B263B;
            
                text-align: left;
                line-height: 24px;
            }
            #tag_box{
                @include flex-row-start-start;
                width: 100%;
                margin-bottom: 10px;

                img{
                    height: 24px; width: auto;
                    margin-right: 10px;
                }
            }
            .description{
                @include font_size_S2;

                padding: 0;
                margin: 0px;
                margin-bottom: 10px;
                font-weight: 600;
                font-family: "Poppins", sans-serif;
                color: #66686b;
                text-align: left;
                line-height: 22px;
            }
            #signature{
                padding: 0;
                margin: 0px;
            
                text-align: start;
                font-weight: bold;
                font-family: 'Dancing Script', cursive;
                color: #1B263B;
                font-size: 1rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

