@media all and (min-width:768px) and (max-width:1023px) { 






    .main_top {


        .description {

            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }

	.main_box{
		padding: 0 15px;
	}

    #post_page .post_wapper {
        padding: 0 5%;
    }





























    
}



