---
layout: default
title: traumhaft - Sun Hong
---

<div class="main_top">

  <div class="main_img">
    <div class="cloud"></div>
  </div>
  <script>
    function randomText(){
      const text = ["H", "L", "L", "E", "O"];
      return text[Math.floor(Math.random() * text.length)];
    }
    function rain(){
      const cloud = document.querySelector('.cloud');
      const e = document.createElement('div');
      let left = Math.floor(Math.random() * 230);
      let size = Math.random() * 1.3;
      let duration = Math.random() * 1;

      e.classList.add('text');
      cloud.appendChild(e);
      e.innerText = randomText();
      e.style.left = 20 + left + 'px';
      e.style.fontSize = 0.5 + size + 'em';
      e.style.animationDuration = 2 + duration + 's';

      setTimeout(() => {
        cloud.removeChild(e);
      }, 2000);
    }
    setInterval(() => {
      rain();
    }, 80)
  </script>

  <div class="description">
    <h1 class="wave_welcome">Welcome to my Blog</h1>
    <p>From hardware to software,</p>
    <p>I'm <span class="emp_word">System Engineer</span></p>
  </div>
  <script>
    let wordIndex = 0;
    let charIndex = 0;
    let isDeleting = false;
    
    function typeEffect(){
      const words = ["System Engineer.", "Developer.", "Designer."];
      const word = document.querySelector('.emp_word');
      const currentWord = words[wordIndex];

      word.textContent =currentWord.substring(0, charIndex);

      if(!isDeleting && charIndex < currentWord.length) {
        charIndex++;
        setTimeout(typeEffect, 140);
      } else if(isDeleting && charIndex >0){
        charIndex--;
        setTimeout(typeEffect, 30);
      } else {
        isDeleting = !isDeleting;
        wordIndex = !isDeleting ? (wordIndex + 1) % words.length : wordIndex;
        setTimeout(typeEffect, 1500);
      }
    }
    typeEffect();
  </script>

</div>
<div id="down_box">
  <img width="100" height="100" src="https://img.icons8.com/stickers/100/down.png" alt="down"/>
</div>


{% include index-projects.html %}
{% include index-notes.html %}
{% include index-skills.html %}
{% include index-activities.html %}
{% include index-hobby.html %}


<!--
<ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
 
</ul>
-->


{% include footer.html %}
