<div class="main_box">
  <div class="main_title">
    <div>
      <img width="66" height="66" src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/66/external-Study-school-smashingstocks-flat-smashing-stocks-5.png" alt="external-Study-school-smashingstocks-flat-smashing-stocks-5"/>
      <h1>Activities</h1>
    </div>
    <h2>These are the activities I've been working on so far.</h2>
  </div>
  <div class="main_content">
    
    <div class="detail_content">

      <h3>Education</h3>

      <p>B.S. @Dankook University, School of Electronics and Electrical Engineering</p>
    </div>

    <div class="detail_content">
      <h3>Awards and Honors</h3>

      {% for activity in site.data.activities %}
        {% if activity.classification == "Awards and Honors" %}
          {% for n in activity.name %} <p>{{n}}</p> {% endfor %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="detail_content">
      <h3>External activities</h3>

      {% for activity in site.data.activities %}
        {% if activity.classification == "External activities" %}
          {% for n in activity.name %} <p>{{n}}</p> {% endfor %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="detail_content">
      <h3>Taking a lecture</h3>

      {% for activity in site.data.activities %}
        {% if activity.classification == "Taking a lecture" %}
          {% for n in activity.name %} <p>{{n}}</p> {% endfor %}
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>