<div class="main_box">
  <div class="main_title">
    <div>
      <img width="96" height="96" src="https://img.icons8.com/color/96/left-handed.png" alt="left-handed"/>
      <h1>Notes</h1>
    </div>
    <h2>These are the notes I worked hard to organize!</h2>
  </div>
  <div class="main_content">
    <div id="project_box_wrapper">

      <div class="detail_content">
        <h3>Fuzzy System & 신경망 이론</h3>

        <div class="dc_box">
          {% assign sorted_posts = site.posts | sort: 'title' %}

          {% for post in sorted_posts %}
            {% for category in post.categories %}
              {% if category == "Ai Study Note" %}
                  <a href="{{ post.url }}"><p id="box_title">{{ post.title }}</p></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
      
      <div class="detail_content">
        <h3>GIT</h3>

        <div class="dc_box">
          {% assign sorted_posts = site.posts | sort: 'title' %}

          {% for post in sorted_posts %}
            {% for category in post.categories %}
              {% if category == "GIT" %}
                  <a href="{{ post.url }}"><p id="box_title">{{ post.title }}</p></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>

      </div>

      <div class="detail_content">
        <h3>Embeded Note</h3>

        <div class="dc_box">
          {% assign sorted_posts = site.posts | sort: 'title' %}

          {% for post in sorted_posts %}
            {% for category in post.categories %}
              {% if category == "Embeded Note" %}
                  <a href="{{ post.url }}"><p id="box_title">{{ post.title }}</p></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>

      </div>

      <div class="detail_content">
        <h3>SoC Note</h3>

        <div class="dc_box">
          {% assign sorted_posts = site.posts | sort: 'title' %}

          {% for post in sorted_posts %}
            {% for category in post.categories %}
              {% if category == "SoC Note" %}
                  <a href="{{ post.url }}"><p id="box_title">{{ post.title }}</p></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>

      </div>

      <div class="detail_content">
        <h3>Microprocessor Note</h3>

        <div class="dc_box">
          {% assign sorted_posts = site.posts | sort: 'title' %}

          {% for post in sorted_posts %}
            {% for category in post.categories %}
              {% if category == "Microprocessor Note" %}
                  <a href="{{ post.url }}"><p id="box_title">{{ post.title }}</p></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>

      </div>

      <div class="detail_content">
        <h3>Computer Structure Note</h3>

        <div class="dc_box">
          {% assign sorted_posts = site.posts | sort: 'title' %}

          {% for post in sorted_posts %}
            {% for category in post.categories %}
              {% if category == "Computer Structure Note" %}
                  <a href="{{ post.url }}"><p id="box_title">{{ post.title }}</p></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>

      </div>




      
      
    </div>
  </div>
</div>