<div class="main_box">
    <div class="main_title">
      <div>
        <img width="64" height="64" src="https://img.icons8.com/cotton/64/idea.png" alt="idea"/>
        <h1>Recent POST</h1>
      </div>
      <h2>Please take a look at the latest post that I wrote with all my heart.</h2>
    </div>
    <div class="main_content">
      <div id="project_box_wrapper">
        {% for post in site.posts | limit:6 %}
          <div id="new_project_box" onClick="location.href ='{{ post.url }}'" style="cursor:pointer;">
            <div id="imgBox">
              {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}" alt="{{ post.title }} Thumbnail">
              {% endif %}
            </div>

            {% for sub_category in post.categories %}

                {% for selected_category in site.categories %}
                  {% if selected_category.title == sub_category %}
                      {% if selected_category.isSub %}
                          <a href="{{selected_category.url}}"><p id="box_category" style="background-color: {{ selected_category.color }};">{{ sub_category }}</p></a>
                      {% endif %}
                  {% endif %}
                {% endfor %}

            {% endfor %}

            <a href="{{ post.url }}"><p id="box_title">{{ post.title }}</p></a>
            <p class="description">{{ post.excerpt }}</p>
            <p id="signature">- Sun Hong</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>