<div class="main_box">
    <div class="main_title">
      <div>
        <img width="64" height="64" src="https://img.icons8.com/cotton/64/pen-2.png" alt="pen-2"/>
        <h1>Tools & Skills</h1>
      </div>
      <h2>I can use this Tools & Skills. Also, I'm practicing something.</h2>
    </div>
    <div class="main_content">
      <div class="project_box">
        <div class="mini_box">
          <h4>Language</h4>
          <section>
            <img width="96" height="96" src="https://img.icons8.com/color/96/c-programming.png" alt="c-programming"/>
            <img width="96" height="96" src="https://img.icons8.com/color/96/c-plus-plus-logo.png" alt="c-plus-plus-logo"/>
            <img width="96" height="96" src="https://img.icons8.com/color/96/python--v1.png" alt="python--v1"/>
            <img width="96" height="96" src="https://img.icons8.com/fluency/96/java-coffee-cup-logo.png" alt="java-coffee-cup-logo"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/kotlin.png" alt="kotlin"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/javascript--v1.png" alt="javascript--v1"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/assembly.png" alt="assembly"/>
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/matlab.png" alt="matlab"/>
          </section>
        </div>
        <div class="mini_box">
          <h4>Web & App & MarkUp</h4>
          <section>
            <img width="96" height="96" src="https://img.icons8.com/color/96/html-5--v1.png" alt="html-5--v1"/>
            <img width="96" height="96" src="https://img.icons8.com/color/96/css3.png" alt="css3"/>
            <img width="96" height="96" src="https://img.icons8.com/color/96/bootstrap--v2.png" alt="bootstrap--v2"/>
            <img width="96" height="96" src="https://img.icons8.com/fluency/96/node-js.png" alt="node-js"/>
            <img width="64" height="64" src="https://img.icons8.com/nolan/64/mongo-db.png" alt="mongo-db"/>
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/android-studio--v2.png" alt="android-studio--v2"/>
            <img width="96" height="96" src="https://img.icons8.com/color/96/firebase.png" alt="firebase"/>
          </section>
        </div>
        <div class="mini_box">
          <h4>Hardware</h4>
          <section>
            <img src="/assets/images/icon_systemverilog.png" alt="Systemverilog">
            <img src="/assets/images/vivado_logo.png" alt="Vivado">
            <img src="/assets/images/ide_icon.png" alt="Vitis">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/arduino.png" alt="arduino"/>
            <img width="96" height="96" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/96/external-raspberry-pi-is-a-small-and-affordable-computer-that-you-can-use-to-learn-programming-logo-color-tal-revivo.png" alt="external-raspberry-pi-is-a-small-and-affordable-computer-that-you-can-use-to-learn-programming-logo-color-tal-revivo"/>
            <img width="96" height="96" src="https://img.icons8.com/color/96/arm-logo.png" alt="arm-logo"/>
            <img src="/assets/images/logo_risc_v.png" alt="Risc-V">
          </section>
        </div>
        <div class="mini_box">
          <h4>Design</h4>
          <section>
            <img width="30" height="30" src="https://img.icons8.com/color/48/adobe-photoshop--v1.png" alt="adobe-photoshop--v1"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/adobe-illustrator--v1.png" alt="adobe-illustrator--v1"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/davinci-resolve.png" alt="davinci-resolve"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/microsoft-visio-2019.png" alt="microsoft-visio-2019"/>
          </section>
        </div>
        <div class="mini_box">
          <h4>Editer & Documentation</h4>
          <section>
            <img width="48" height="48" src="https://img.icons8.com/color/48/visual-studio-code-2019.png" alt="visual-studio-code-2019"/>
            <img width="48" height="48" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/48/external-sublime-text-a-sophisticated-text-editor-for-code-markup-language-logo-color-tal-revivo.png" alt="external-sublime-text-a-sophisticated-text-editor-for-code-markup-language-logo-color-tal-revivo"/>
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/microsoft-powerpoint-2019.png" alt="microsoft-powerpoint-2019"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/microsoft-excel-2019--v1.png" alt="microsoft-excel-2019--v1"/>
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/microsoft-word-2019.png" alt="microsoft-word-2019"/>
          </section>
        </div>
        <!-- <div class="mini_box">
          <h4>Circuit Design</h4>
          <img src="./images/icon_home.png" alt="Home">
          <img src="./images/icon_home.png" alt="Home">
          <img src="./images/icon_home.png" alt="Home">
          <img src="./images/icon_home.png" alt="Home">
        </div> -->
        <div class="mini_box">
          <h4>Ai</h4>
          <section>
            <img width="48" height="48" src="https://img.icons8.com/color/48/tensorflow.png" alt="tensorflow"/>
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/pytorch.png" alt="pytorch"/>
          </section>
        </div>
        <div class="mini_box">
          <h4>etc.</h4>
          <section>
            <img width="96" height="96" src="https://img.icons8.com/color/96/git.png" alt="git"/>
            <img width="48" height="48" src="https://img.icons8.com/external-those-icons-flat-those-icons/48/external-Linux-logos-and-brands-those-icons-flat-those-icons.png" alt="external-Linux-logos-and-brands-those-icons-flat-those-icons"/>
          </section>
        </div>
      </div>
    </div>
  </div>