<div class="main_box">
  <div class="main_title">
    <div>
      <img width="96" height="96" src="https://img.icons8.com/color/96/left-handed.png" alt="left-handed"/>
      <h1>Notes</h1>
    </div>
    <h2>These are the notes I worked hard to organize!</h2>
  </div>
  <div class="main_content">
    <div id="project_box_wrapper">
      <div class="detail_content">
        <h3>- 추가 예정 -</h3>
        <p> -- -- </p>
        <p> -- -- </p>
        <p> -- -- </p>
        <p> -- -- </p>
      </div>
      <div class="detail_content">
        <h3>- 추가 예정 -</h3>
        <p> -- -- </p>
        <p> -- -- </p>
        <p> -- -- </p>
        <p> -- -- </p>
      </div>
    </div>
  </div>
</div>