


@keyframes cloud_eff {
	0%{transform: translateY(0) scale(1);}
	70%{transform: translateY(150px) scale(1);}
	100%{transform: translateY(150px) scale(1);}
}
@keyframes blink {
	50%{opacity: 0;}
}


@keyframes updown_motion {
	0% {margin-top: 0px;}
	100% {margin-top: 15px;}
}


@keyframes wave {
	0% {background-position-x: 1000px;}
	100% {background-position-x: 0;}
}
@keyframes wave2 {
	0% {background-position-x: 0px;}
	100% {background-position-x: 1000px;}
}


