
#category_page {
	display: flex;

	flex-direction: column;
	align-items: center;
	align-content: start;

	width: 100%;
    

    .backg{
        position: absolute;
        top: 0;
        height: 300px;
        max-height: 340px;
        width: 100%;
        z-index: 10;
    
        border-radius: 10px;
        background-color: $mainColor;
    
        box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);

        transition: border-radius 0.3s ease;

        .wave{
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 13;
        
            background: url("/assets/images/wave.png");
            background-size: 1000px 100px;
            
            border-radius: 10px;
            border: transparent;
            transition: border-radius 0.3s ease;
        }
        .wave_1{opacity: 1;   bottom: 0; height: 100px;	z-index: 13; animation: wave  4s linear infinite;}
        .wave_2{opacity: 0.5; bottom: 0; height: 100px;	z-index: 12; animation: wave2 4s linear infinite;}
        .wave_3{opacity: 0.2; bottom: 0; height: 100px;	z-index: 11; animation: wave2 4s linear infinite;}
        .wave_4{opacity: 0.7; bottom: 0; height: 100px;	z-index: 10; animation: wave  4s linear infinite;}

        .island_box {
            width: 100%;
            display: flex;
            justify-content: center;
            
            .island{
                position: absolute;
                bottom: 0;
                height: calc((20vh + 100px)*0.8);
                z-index: 10;
            }
        }

    }


    .category_body{
        width: auto;
        min-height: 40vh;
        padding: 0;
        margin: 2rem 1rem;
        margin-top: 250px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }
    
    #head{
        @include flex-row-center-center;
        width: 100%;

        margin-top: 30px;
        margin-bottom: 30px;

        h2 {
            @include font_pacifico_500;
            @include font_size_L4;
            color: #000000;
            margin: 0 20px;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
   
    
    @include new_project_box;
    



}


















