body {
    display: flex;
}

#sidebar {
    @include layout($lay: col_top);

    position: sticky;
	top: 0px;
	height: 100vh;
    min-width: 280px; max-width: 280px;
	overflow-y: auto;
    /* overflow-x: hidden; */
	margin-left: 0;

    background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

	transition: margin-left 0.3s ease;
	z-index: 30;
}
#content {
	padding: 0;
	width: 100%;
	position: relative;
    background-color: beige;
}









