body {
    display: flex;
}

#sidebar {
    @include layout($lay: col_top);

    position: sticky;
	top: 0px;
	height: 100vh;
    min-width: 280px; max-width: 280px;
	overflow-y: auto;
    /* overflow-x: hidden; */
	margin-left: 0;

    background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

	transition: margin-left 0.3s ease;
	z-index: 30;
}
#content {
	padding: 0;
	width: 100%;
	position: relative;
    background-color: beige;

    #scoll_bar {
        width: 0;
        height: 4px;
        transition: all linear 0.2s;
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
        border-radius: 100px;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    #top_nav_bar {
        position: sticky;
        top: 4px;
    
        min-height: 5vh;
        width: auto;
        padding: 20px 30px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: none;
        z-index: 100;

        img{
            height: 55px;
            z-index: 100;
        }
        .logo{
            transition: all 0.5s;
        }
        #top_search{
            transition: all 0.5s;
            z-index: 100;
        }

    }







}









