body {
    padding: 0;
    margin: 0;
    overflow-x: clip;

    background-color: $mainBackground;
}
.all_wrapper {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;
}

#sidebar_area {
    @include flex-col-center-start;

    position: relative;

    width: 270px;
    min-width: 270px; max-width: 270px;

	margin: 15px 0 15px 15px;

	transition: margin-left 0.3s ease;
}

#content_area {
    @include flex-col-center-start;

    position: relative;

    width: 100%;

    margin: 15px;

    transition: width, margin 0.3s ease;

    #content_area_wrapper {
        width: 100%;
        position: absolute;
    }

    #top_area {
        width: 100%;

        position: sticky;
        top: 15px;

        transition: top 0.3s ease;

        z-index: 200;

        #scoll_bar {
            position: relative;
            width: 0;
            height: 4px;
            transition: all linear 0.2s;
            background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
            border-radius: 100px;
        }
        #top_nav_bar {
            position: relative;
            width: auto;
            padding: 11px 15px 0 15px;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            box-sizing : border-box;
        
            transition: padding 0.3s ease;

            img{
                height: 55px;
            }
            .logo{
                transition: all 0.5s;
            }
            #top_search{
                transition: all 0.5s;
            }
        }

    }
}


#content {
    @include flex-col-center-start;

    position: static;

    width: 100%;

    transition: width 0.3s ease;
}








