#post_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: start;

	width: 100%;
    box-sizing : border-box;

    .backg{
        position: absolute;
        top: 0;
        height: calc(20vh + 100px);
        max-height: 340px;
        
        width: 100%;
        z-index: 0;
    
        background-color: #003049;

        border-radius: 10px;
    
        box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);

        transition: border-radius 0.3s ease;
    }
    
    
    // post
    .post_wapper {
        width: 100%;
        max-width: 750px;
        min-height: 200px;
        margin-top: 10px;
        box-sizing : border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        position: relative;

        #head {
            margin: 0;
            padding: 0;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 100%;

            .postpage_category_v{
                display: inline-block;
                margin: 0;
                margin-bottom: 10px;
                padding: 4px 15px;
                
                border-radius: 8px;

                p {
                    padding: 0; margin: 0;

                    a{
                        text-decoration: none;
                        text-align: center;
                        margin-bottom: 20px;
                        margin: 0;
                    
                        color: #000000;
                        font-size: 1rem;
                        font-weight: 500;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
            h1 {
                padding: 0; margin: 0;

                text-align: center;
                margin-bottom: 20px;
            
                color: #000000;
                font-size: 1.5rem;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
            }

            .mini_box_wAd {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .mini_box_writer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img{
                    width: 40px;
                    height: 40px;
                    }
                }
                p{
                    text-align: center;
                    margin-bottom: 20px;
                    margin: 0;
                
                    color: #000000;
                    font-size: 1rem;
                    font-weight: 700;
                    font-family: 'Poppins', sans-serif;
                    margin-left: 5px;
                }
                .date{
                    color: #929292;
                    font-size: 0.7rem;
                    margin: 0;
                    margin-top: 5px;
                }
            }
        }

        #body{
            width: 100%;
            margin: 50px 0;

            .comment_box {
                margin-top: 100px;
            }
        }

    }

}
