#post_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: start;

	width: 100%;
    box-sizing : border-box;

    .backg{
        position: absolute;
        top: 0;
        height: calc(20vh + 100px);
        width: 100%;
        z-index: 0;
    
        background-color: #003049;

        border-radius: 10px;
    
        box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 17px 9px -15px rgba(0,0,0,0.19);

        transition: border-radius 0.3s ease;
    }
    .catShelter{
        height: 350px;
        width: 240px;
        position: relative;

        .window{
            height: 70%;
            width: 70%;
            position: absolute;
        
            background-color: #29467a;
            outline: 10px solid #1B263B;
        
            border-left: 4px solid #439abf;
            border-right: 4px solid #439abf;
            position: relative;
        
            left: calc(30%/2);
            top: 10%;

            &::before,
            &::after {
                content: "";
                position: absolute;
                background: linear-gradient(#439abf 50%, #2d2623 50%);
            }
            &::before{
                height: 10px;
                width: 130%;
                left: calc(-30%/2);
                bottom: -10px;
            }
            &::after {
                height: 10px;
                width: 105%;
                left: calc(-5%/2);
                top: 50%;
            }

            .castle {
                position: absolute;
                height: 40%;
                z-index: 20;
                bottom: 0;
                left: -18%;
            }
            .kitty {
                position: absolute;
                background-color: #2d2623;
                height: 40%;
                width: 40px;
                bottom: -3%;
                right: 25%;
                border-radius: 40px 40px 0 0 ;

                &::before{
                    content: "";
                    position: absolute;
                    background-color: #2d2623;
                    height: 60%;
                    width: 50px;
                    border-radius: 0 80px 80px 0;
                    bottom: 0;
                    right: -70%;
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-color: #2d2623;
                    height: 50%;
                    width: 8px;
                    border-radius: 5px;
                    bottom: -50%;
                    right: -15%;
                    transform: rotate(-15deg);
                    transform-origin: top;
                    animation: tail 4s infinite;
                }

                .ear{
                    height: 0;
                    width: 0;
                    border-bottom: 26px solid #2d2623;
                    border-right: 18px solid transparent;
                    position: relative;
                    bottom: 8%;

                    &::before{
                        content: "";
                        position: absolute;
                        height: 0;
                        width: 0;
                        border-bottom: 26px solid #2d2623;
                        border-left: 18px solid transparent;
                        bottom: -25px;
                        left: 22px;
                    }
                }
            }
            .moon{
                height: 60px;
                width: 60px;
                position: absolute;
                border-radius: 50%;
                background-color: transparent;
                box-shadow: -15px 8px 0 1px #F0C419;
                left: 30px;
                top: 10px;
            }
            .star{
                height: 4px;
                width: 4px;
                position: absolute;
                border-radius: 50%;
                background-color: #F0C419;
                left: 90px;
                top: 20px;
                box-shadow: 50px 40px #F0C419, 25px 80px #F0C419, 50px 150px #F0C419, -70px 80px #F0C419, -50px 130px #F0C419;
                animation: twinkle 2s infinite;
            }
        }
    }
    @keyframes tail {
        50% {transform: rotate(10deg);}
    }
    @keyframes twinkle {
        50% {opacity: 50%;}
    }


    
    // post
    .post_wapper {
        width: 100%;
        min-height: 200px;
        padding: 0 20%;
        margin-top: 365px;
        box-sizing : border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        position: absolute;

        #head {
            margin: 0;
            padding: 0;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 100%;

            .postpage_category_v{
                display: inline-block;
                margin: 0;
                margin-bottom: 10px;
                padding: 4px 15px;
                
                border-radius: 8px;

                p {
                    padding: 0; margin: 0;

                    a{
                        text-decoration: none;
                        text-align: center;
                        margin-bottom: 20px;
                        margin: 0;
                    
                        color: #000000;
                        font-size: 1rem;
                        font-weight: 500;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
            h1 {
                padding: 0; margin: 0;

                text-align: center;
                margin-bottom: 20px;
            
                color: #000000;
                font-size: 1.5rem;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
            }

            .mini_box_wAd {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .mini_box_writer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img{
                    width: 40px;
                    height: 40px;
                    }
                }
                p{
                    text-align: center;
                    margin-bottom: 20px;
                    margin: 0;
                
                    color: #000000;
                    font-size: 1rem;
                    font-weight: 700;
                    font-family: 'Poppins', sans-serif;
                    margin-left: 5px;
                }
                .date{
                    color: #929292;
                    font-size: 0.7rem;
                    margin: 0;
                    margin-top: 5px;
                }
            }
        }

        #body{
            width: 100%;
            margin: 50px 0;
        
            @mixin article_border_shadow_padding {
                border-radius: 12px;
                border: 2px solid #e76f51;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                padding: 10px;

                box-sizing : border-box;
            }


            .article{
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;

                flex-wrap: wrap;
                overflow: hidden;

                h1, h2, h3, h4, h5, h6 {
                    font-family: 'Pretendard-Regular', sans-serif;
                    font-weight: 600;
                }
                h1 {
                    margin-top: 50px;
                    margin-bottom: 20px;
                    max-width: max-content;
                    border-bottom: 3px solid;
                    color: #E96A02!important;

                    font-size: 30px;

	                padding-bottom: 8px;

                    &:nth-of-type(1) {
                        margin-top: 0;
                    }
                }
                h2 {
                    margin-bottom: 10px;
	                color: #000;

                    font-size: 22px;
                }
                h3 {
                    margin-bottom: 10px;
	                color: #000;

                    font-size: 20px;
                }
                h4 {
                    margin-bottom: 10px;
	                color: #000;

                    font-size: 18px;
                }
                p {
                    font-family: 'Pretendard-Regular', sans-serif;
                    max-width: 100%;
                    width: 100%;
                    box-sizing : border-box;

                    line-height: 32px;

                    font-weight: 500;
                    font-size: 16px;
                    color: #383C42;
                }

                em {
                    font-style: italic;
                }
                strong {
                    padding: 2px 9px;
                    border-radius: 5px;
                    background-color: #fed9b7;
                    font-weight: normal;
                    color: #E96A02;

                    font-weight: 600;
                    font-size: 15px;
                }

                ul {
                    li {
                        color: #000;

                        font-weight: 600;
                        font-size: 15px;

                        padding-bottom: 10px;
                        ul {
                            li {
                                color: #000;
        
                                font-weight: 600;
                                font-size: 15px;
        
        
                            }
                        }
                    }
                }
                
                p a {
                    font-family: 'Pretendard-Regular', sans-serif;
                    text-decoration: none;
                    color: #E96A02;

                    border-radius: 5px;
                    border: 2px solid #e76f51;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    padding: 5px;
                }

                hr {
                    background: #e76f51;
                    height: 5px;
                    border: 0;
                    width: 100px;
                    opacity: 0.5;
                }

                blockquote {
                    border-left: 5px solid;
                    border-color: #e76f51;
                    padding-left: 10px;
                }


                img {
                    max-width: 100%;
                    display: block;
                    margin: 0 auto 40px auto;
                    @include article_border_shadow_padding;
                }
            }
        }

    }

}

// Table
.table_contents{
    position: fixed;

    top: 35vh;
    right: 0;
    width: 190px;
    max-height: 50vh;
    padding: 10px;
    margin-right: 0px;

    background-color: #ffffff;

    border-radius: 45px 0 0 5px;
    border: 2px solid;
    border-right: none;
    border-color: #E96A02;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    overflow-x: hidden;
    overflow-y: scroll;

    z-index: 300;

    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: top;

    transition: right 0.5s;

    &::-webkit-scrollbar { display: none;}

    .table_contents_btn{
        position: fixed;
        margin: 6px;
        top: calc(34vh + 8px);
        right: 180px;
    
        width: 25px;
        height: 25px;
    
        border-radius: 50%;
        background-color: #E96A02;
    
        cursor: pointer;
    
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    
        z-index: 301;
    
        transition: all 0.5s;

        p{
            padding: 0;
            margin: 0;
            color: #1B263B;
            font-size: 0.8rem;
            font-weight: 600;
            font-family: 'Pretendard-Regular', sans-serif;
        }
    }
    .table_title{
        margin-bottom: 10px;
    
        color: #000000;
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Pretendard-Regular', sans-serif;
    }
    .table_content_inner{
        display: flex;
        flex-direction: column;
        align-items: start;
        align-content: start;
        justify-content: top;
        width: 100%;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            li{
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .toc-level-1,
        .toc-level-2{
            margin-bottom: 5px;
            padding-bottom: 1px;

            color: #E96A02;
            font-size: 0.9rem;
            font-weight: 600;
            font-family: 'Pretendard-Regular', sans-serif;
        }
        .toc-level-2{
            margin-left: 10px;
            color: #000000;
            font-size: 0.8rem;
        }
    }

}


@media (max-width: 768px) {
    .table_contents {
        display: none!important;
    }
    #post_page .post_wapper {
        padding: 0 5%;
    }

}

