.main_box{
	width: 100%;
	margin: 0 0 25vh 0;
	padding: 0 3%;

    .main_title {
        display: flex;
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        margin-bottom: 5vh;

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 50px;
            height: auto;
            margin-bottom: 10px;
        }
        h1,
        h1 a{
            text-align: center;
            font-weight: 500;
            font-family: 'Pacifico', cursive;
            color: #003049;
            font-size: 2.2rem;
            margin-bottom: 10px;

            -webkit-text-fill-color: rgba(0,0,0,0);
            -webkit-box-decoration-break: clone;
            background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);
            -webkit-background-clip: text;
            background-clip: text;
        }
        h2{
            text-align: center;
            font-weight: 400;
            font-family: 'Gugi', sans-serif;
            color: #003049;
            font-size: 1rem;
            margin: 0;
            padding: 0 20px;
        }
    }

    .main_content {
        display: flex;
    
        flex-direction: column;
        justify-content: start;
        align-items: center;
        align-content: center;

        .detail_content{
            width: fit-content;
        
            padding: 10px 20px;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        
            margin: 10px;
            margin-bottom: 50px;
        
            border-radius: 20px;
        
            box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
        }
        h3{
            font-weight: 500;
            font-family: 'Gugi', sans-serif;
            color: #e76f51;
            font-size: 1.3rem;
            margin: 10px auto;
        }
        p,
        a{
            text-decoration: none;
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            color: #1B263B;
            font-size: 0.8rem;
            margin-bottom: 15px;
            padding-left: 0;
        }
    }

    .youtube {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 20px;
    }
    .project_box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        iframe{
            margin: 1rem;
            border-radius: 20px;
            transition: all 0.2s;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                background-color: #F9FAFB;
            }
        }
        .mini_box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px 20px;

            h4 {
                margin: 0; 
                padding: 0;
            
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                color: #1B263B;
                margin-right: 10px;
                font-size: 1rem;
            }
            img {
                margin-left: 10px; 
                padding: 0;
                height: 30px;
                width: auto;
            }
        }
    }

    @include new_project_box;

}


