<!doctype html>
<html>
  <head>
    {% include head/head.html %}
  </head>

  <body>

    <div id="sidebar">
      {% include basic-ui/sidebar.html %}
    </div>

    <div class="all_wrapper">
      <div id="sidebar_area"></div>

      <div id="content_area">

        <div id="content_area_wrapper">

          <div id="top_area">
            <div id="scoll_bar"></div>
            <div id="top_nav_bar">
              <a href="/"><img src="/assets/images/logoB.png" alt="Home" class="logo"></a>
              <a href="/search/"><img id="top_search" src="/assets/images/icon_search_l.png" alt="Search"></a>
            </div>
          </div>
  
          <div id="content"> {{ content }} </div>
          
          {% include basic-ui/footer.html %}

        </div>
      </div>
    </div>

    <script src="/assets/js/srollbar.js"></script>
    <script src="/assets/js/top_nav.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    
    
  </body>
</html>

