---
layout: default
---

<div id="post_page">
    <div class="backg"></div>
    <div class="catShelter">
        <div class="window">
            <img class="castle" src="/assets/images/castle.png" alt="castle">
            <div class="kitty">
                <div class="ear"></div>
            </div>
            <div class="moon"></div>
            <div class="star"></div>
        </div>
    </div>

    <div class="post_wapper">
        <div id="head">

            {% for site_category in site.categories %}
                {% for page_category in page.categories %}
                    {% if site_category.name == page_category %}
                        {% if site_category.isSub %}

                        <div class="postpage_category_v" style="background-color: {{ site_category.color }};">
                            <p><a href="{{ site_category.url }}">{{ site_category.name }}</a></p>
                        </div>

                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <h1>{{ page.title }}</h1>

            <div class="mini_box_wAd">
                <div class="mini_box_writer">
                    <img width="96" height="96" src="https://img.icons8.com/color/96/user-typing-using-typewriter.png" alt="user-typing-using-typewriter"/>
                    <p>Sun Hong</p>	
                </div>
                <p class="date">{{ page.date | date: "%Y년 %m월 %d일" }}</p>
            </div>
        </div>

        <div id="body">

            <div class="article">
                {{ content }}
            </div>
            <td></td>
            <!-- <div class="tag_title">
            </div>

            <div class="tag_label">
            </div>

            <div class="comment_box">
            </div> -->

            <script src="https://utteranc.es/client.js"
                    repo="radic2682/radic2682.github.io"
                    issue-term="pathname"
                    theme="preferred-color-scheme"
                    crossorigin="anonymous"
                    async>
            </script>

        </div>

    </div>
</div>

{% include post/table_contents.html %}


<script src="/assets/js/add_img_in_li.js"></script>
<script src="/assets/js/add_language_in_codeBlock.js"></script>

