---
layout: default
---

<div id="post_page">
    <div class="backg"></div>
    <div class="catShelter">
        <div class="window">
            <img class="castle" src="/assets/images/castle.png" alt="castle">
            <div class="kitty">
                <div class="ear"></div>
            </div>
            <div class="moon"></div>
            <div class="star"></div>
        </div>
    </div>

    <div class="post_wapper">
        <div id="head">

            {% for site_category in site.categories %}
                {% for page_category in page.categories %}
                    {% if site_category.name == page_category %}
                        {% if site_category.isSub %}

                        <div class="postpage_category_v" style="background-color: {{ site_category.color }};">
                            <p><a href="{{ site_category.url }}">{{ site_category.name }}</a></p>
                        </div>

                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <h1>{{ page.title }}</h1>

            <div class="mini_box_wAd">
                <div class="mini_box_writer">
                    <img width="96" height="96" src="https://img.icons8.com/color/96/user-typing-using-typewriter.png" alt="user-typing-using-typewriter"/>
                    <p>Sun Hong</p>	
                </div>
                <p class="date">{{ page.date | date: "%Y년 %m월 %d일" }}</p>
            </div>
        </div>

        <div id="body">

            <div class="article">
                {{ content }}
            </div>
            <td></td>
            <!-- <div class="tag_title">
            </div>

            <div class="tag_label">
            </div>

            <div class="comment_box">
            </div> -->

        </div>

    </div>
</div>

<!-- <div class="table_contents">
    <div class="table_contents_btn" onclick="table_close_click()"><p>C</p></div>
    <p class="table_title">Contents</p>
    <div class="table_content_inner"></div>
</div> -->

