---
layout: default
---

<div id="visiting_page">

    <div class="dragon">
        <img src="/assets/images/logo_dragonB.png" alt="dragon">
        <section>
            <span>Danger!</span>
            <h1>이 친구는 사실 용이에요.</h1>
            <h2>용에게 인사를 해주세요.</h2>
            <img width="96" height="96" src="https://img.icons8.com/color/96/man-raising-hand-icon.png" alt="man-raising-hand-icon"/>
        </section>
    </div>


    <div id="body">
        <div class="comment_box">
            <script src="https://utteranc.es/client.js"
                    repo="radic2682/radic2682.github.io"
                    issue-term="pathname"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
            </script>
        </div>
    </div>

    
</div>
